.form__line_error{
        position: relative;
        color: #EB5C44;
}

.form__line_error input{
    border: 1px solid #E5243A;
    position: relative;
    color: #EB5C44;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
    
.form__line_error::after{
        content: "\2757";
        position: absolute;
        right: 10px;
        top: 10px;
        color: #EB5C44;
        display: inline-block;
        font-size: 23px;
    }