.form__input_date-active::-webkit-calendar-picker-indicator {
    background: url("") no-repeat;
    width: 100%;
    left: -1.5em;
    position: absolute;
  } 


  .form__input_date-active {
    background: url("../../../../images/calendar.svg") no-repeat;
    background-position: top 7px right 18px;
    background-size: 27px;
  } 
