.about__back{
    width: 70%;
    border-radius: 50%;
    background: #910C6A;
    border: none;
    margin-top: -22.42%;
    position: relative;
    z-index: -1;
    margin-bottom: 4.43%;
}

.about__back:after{
    content: '';
    display: block;
    padding-top: 100%;
}



@media screen and (min-width: 648px) {
    .about__back{
        width: 31.89%;
        margin: 0 9.8% 10.6px auto;
    }
}

@media screen and (min-width: 1034px) {
    .about__back{
        width: 70%;

        margin-bottom: 0;
    }
}