.about__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media screen and (min-width: 648px) {
    .about__text{
        font-size: 16px;
        line-height: 20px;
    }
}