.about__content{
    margin: 0 4.44% 16px;
    width: auto;
    max-width: 679px;
}

@media screen and (min-width: 648px) {

    .about__content{
        margin-right: 5.86%;
        margin-left: 5.86%;
    }
}

@media screen and (min-width: 1200px) {
    .about__content{
        margin: 0;
    }
}