.to-do__point{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    padding: 0 30px;
}

.to-do__point::before{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    content: attr(value);
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    width: 116px;
    height: 116px;
    color: #FFB208;
    border: 30px solid #FFB208;
    border-radius: 50%;
    margin-bottom: -11rem;
}