@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__main/form__main.css);
@import url(../blocks/form/__btn-save/form__btn-save.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__line/_error/form__line_error.css);
@import url(../blocks/form/__line/form__line.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input-error/_visible/form__input-error_visible.css);
@import url(../blocks/form/__input/_selector/form__input_selector.css);
@import url(../blocks/form/__region-selector/form__region-selector.css);
@import url(../blocks/form/__menu/form__menu.css);
@import url(../blocks/form/__submit-block/form__submit-block.css);
@import url(../blocks/form/__warning/form__warning.css);
@import url(../blocks/form/__warning/_attension/form__warning_attension.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__main/about__main.css);
@import url(../blocks/about/__media/about__media.css);
@import url(../blocks/about/__content/about__content.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/about/__text/_list/about__text_list.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__frame/about__frame.css);
@import url(../blocks/about/__responsive/about__responsive.css);
@import url(../blocks/about/__back/about__back.css);
@import url(../blocks/to-do/to-do.css);
@import url(../blocks/to-do/__list/to-do__list.css);
@import url(../blocks/to-do/__point/to-do__point.css);
@import url(../blocks/to-do/__wrapper/to-do__wrapper.css);
@import url(../blocks/to-do/__text/to-do__text.css);
@import url(../blocks/cashback/cashback.css);
@import url(../blocks/cashback/__block/cashback__block.css);
@import url(../blocks/cashback/__image/cashback__image.css);
@import url(../blocks/cashback/__title/cashback__title.css);
@import url(../blocks/cashback/__link/cashback__link.css);
@import url(../blocks/cashback/__input-link/cashback__input-link.css);
@import url(../blocks/cashback/__button-link/cashback__button-link.css);
@import url(../blocks/cashback/__button-copy/cashback__button-copy.css);

/*
.frame{
    width: auto;
    margin: 0;
}
.panel {
	width: 850px; 
	height: 40px; 
	background: grey;
	margin-top: -5px;
	border: 1px solid #aaa;
}
#play, #back, #next, #pause{
	float: left;
	width: 50px;
	height: 40px;
}
#time{
	float: left;
	width: 50px;
	height: 40px;
	color: #fff;
	padding-top: 10px;
	margin-left: 10px;
}
#line{
	margin-top: 15px;	
	height: 4px;
	width: 350px;
	background: #fff;
	float: left;
	margin-right: 15px;
}
#volume {
	float: left;
	width: 80px;
	height: 40px;
}
#quality{
	float: left;
	width: 50px;
	height: 40px;
	color: #fff;
	padding-top: 10px;
	margin-left: 10px;
}
#full {
	float: left;
	width: 75px;
	height: 40px;
}
#fader {
	background: black;
	border-radius: 5px;
	width: 10px;
	height: 10px;
	position: relative;
	z-index: 4;
	bottom: 3px;
}
#playlist {
	margin-top: 20px;
}
.viewed {
	position: absolute;
	background: red;
	height: 4px;
}